{% extends 'base.html' %}

{% block content %}

    <div class="content">

        <h1 class="content__h1 centered">{{ chat.title }}</h1>

        <div class="chat__content" id="chat__body">
            {% for message in chat.messages.all %}

            <div class="message">
                <div class="message__data">
                    <div class="author">{{ message.author }}</div>
                    <div class="text">{{ message.text }}</div>
                </div>
                
                <div class="date">{{ message.created }} </div>
            </div>

        {% endfor %}
        </div>

        <div class="chat__message">
            <input type="text" id="message__input">
            <input type="submit" value="Send message" id="message__submit">
        </div>
        

    </div>
    



{% endblock content %}